In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [3]:
%%sql
-- 商品テーブル
CREATE TABLE 商品 (
    商品コード CHAR(4) PRIMARY KEY, 
    商品名 VARCHAR(50) NOT NULL,
    商品ランク CHAR(1)
);

-- 商品別売上実績テーブル
CREATE TABLE 商品別売上実績 (
    商品コード CHAR(4) PRIMARY KEY, 
    売上合計金額 INTEGER NOT NULL
);

INSERT INTO 商品 (商品コード, 商品名, 商品ランク) VALUES
('S001', 'PPP', 'A'),
('S002', 'QQQ', 'A'),
('S003', 'RRR', 'A'),
('S004', 'SSS', 'B'),
('S005', 'TTT', 'C'),
('S006', 'UUU', 'C');

INSERT INTO 商品別売上実績 (商品コード, 売上合計金額) VALUES
('S001', 50),
('S003', 250),
('S004', 350),
('S006', 450);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
6 rows affected.
4 rows affected.

[]

In [4]:
%%sql
select * from 商品

*  postgresql://padawan:***@db:5432/dsdojo_db
6 rows affected.

[('S001', 'PPP', 'A'),
 ('S002', 'QQQ', 'A'),
 ('S003', 'RRR', 'A'),
 ('S004', 'SSS', 'B'),
 ('S005', 'TTT', 'C'),
 ('S006', 'UUU', 'C')]

In [5]:
%%sql
select * from 商品別売上実績

*  postgresql://padawan:***@db:5432/dsdojo_db
4 rows affected.

[('S001', 50), ('S003', 250), ('S004', 350), ('S006', 450)]

### 以下のSQLを実行して得られる売上平均金額は？

```sql
SELECT
    AVG(売上合計金額) AS 売上平均金額
FROM
    商品 LEFT OUTER JOIN 商品別売上実績
    ON
        商品.商品コード = 商品別売上実績.商品コード
WHERE
    商品ランク = 'A'
GROUP BY
    商品ランク;
```

In [ ]:
%%sql
-- NULLを含む行はAVG関数の分母に含まれるか？
SELECT
    *
FROM
    商品 LEFT OUTER JOIN 商品別売上実績
    ON
        商品.商品コード = 商品別売上実績.商品コード
WHERE
    商品ランク = 'A'

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('S001', 'PPP', 'A', 'S001', 50),
 ('S002', 'QQQ', 'A', None, None),
 ('S003', 'RRR', 'A', 'S003', 250)]

In [8]:
%%sql
SELECT
    AVG(売上合計金額) AS 売上平均金額
FROM
    商品 LEFT OUTER JOIN 商品別売上実績
    ON
        商品.商品コード = 商品別売上実績.商品コード
WHERE
    商品ランク = 'A'
GROUP BY
    商品ランク;

*  postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(Decimal('150.0000000000000000'),)]