In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [2]:
%%sql
CREATE TABLE AdjacencyList (
    parent_node VARCHAR(10) NULL,
    child_node VARCHAR(10) NOT NULL,
    PRIMARY KEY (child_node)
);

INSERT INTO AdjacencyList (parent_node, child_node) VALUES
('NULL', 'A'),
('A', 'B'),
('A', 'C'),
('B', 'D'),
('B', 'E'),
('C', 'F'),
('F', 'G');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
7 rows affected.

[]

In [4]:
%%sql
SELECT * FROM AdjacencyList;

*  postgresql://padawan:***@db:5432/dsdojo_db
7 rows affected.

[('NULL', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'D'),
 ('B', 'E'),
 ('C', 'F'),
 ('F', 'G')]

### Q: リーフノード(D, E, G)を取得するためのSQLは？

In [5]:
%%sql
SELECT child_node FROM AdjacencyList
EXCEPT
SELECT parent_node FROM AdjacencyList;

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('D',), ('G',), ('E',)]