In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [2]:
%%sql
drop table if exists Employee;
CREATE TABLE Employee (
    EmployeeCode CHAR(4) PRIMARY KEY,  
    ManagerCode CHAR(4),               
    EmployeeName VARCHAR(50),         
    FOREIGN KEY (ManagerCode) REFERENCES Employee(EmployeeCode) 
);

INSERT INTO Employee (EmployeeCode, ManagerCode, EmployeeName) VALUES
('S001', NULL, 'A'),
('S002', 'S001', 'B'),
('S003', 'S001', 'C'),
('S004', 'S003', 'D'),
('S005', NULL, 'E'),
('S006', 'S005', 'F'),
('S007', 'S006', 'G');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
7 rows affected.

[]

In [6]:
%%sql
SELECT * FROM Employee;

*  postgresql://padawan:***@db:5432/dsdojo_db
7 rows affected.

[('S001', None, 'A'),
 ('S002', 'S001', 'B'),
 ('S003', 'S001', 'C'),
 ('S004', 'S003', 'D'),
 ('S005', None, 'E'),
 ('S006', 'S005', 'F'),
 ('S007', 'S006', 'G')]

### Q: 以下のコードを実行した結果はどうなるか？
```sql
SELECT 
    X.EmployeeCode 
FROM 
    Employee as X
WHERE NOT EXISTS (
    SELECT 
        * 
    FROM 
        Employee AS Y 
    WHERE X.EmployeeCode = Y.ManagerCode
);
```

In [5]:
%%sql
SELECT 
    X.EmployeeCode 
FROM 
    Employee as X
WHERE NOT EXISTS (
    SELECT 
        * 
    FROM 
        Employee AS Y 
    WHERE X.EmployeeCode = Y.ManagerCode
);

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('S002',), ('S007',), ('S004',)]