In [2]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

There's a new jupysql version available (0.11.1), you're running 0.7.2. To upgrade: pip install jupysql --upgrade

In [3]:
%%sql
drop table if exists R;
CREATE TABLE R (
    ID INTEGER PRIMARY KEY,
    名称1 VARCHAR(255)
);

drop table if exists S;
CREATE TABLE S (
    ID INTEGER PRIMARY KEY,
    名称2 VARCHAR(255)
);

INSERT INTO R (ID, 名称1) VALUES (1, 'AAA');
INSERT INTO R (ID, 名称1) VALUES (2, 'BBB');
INSERT INTO R (ID, 名称1) VALUES (3, 'CCC');

INSERT INTO S (ID, 名称2) VALUES (2, 'bbb');
INSERT INTO S (ID, 名称2) VALUES (3, 'ccc');
INSERT INTO S (ID, 名称2) VALUES (4, 'ddd');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
%%sql
SELECT *
FROM R;

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(1, 'AAA'), (2, 'BBB'), (3, 'CCC')]

In [8]:
%%sql
SELECT *
FROM S;

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(2, 'bbb'), (3, 'ccc'), (4, 'ddd')]

In [ ]:
%%sql
-- FULL JOINの例
SELECT
    *
FROM
    R FULL JOIN S ON R.ID = S.ID
ORDER BY R.ID

*  postgresql://padawan:***@db:5432/dsdojo_db
4 rows affected.

[(1, 'AAA', None, None),
 (2, 'BBB', 2, 'bbb'),
 (3, 'CCC', 3, 'ccc'),
 (None, None, 4, 'ddd')]

### Q: 以下のテーブルを作るために必要なクエリは？


| ID | 名称 1 | 名称 2 |
| :---: | :---: | :---: |
| 1 | AAA | NULL |
| 2 | BBB | bbb |
| 3 | CCC | ccc |
| 4 | NULL | ddd |

In [ ]:
%%sql
-- A. COALESCEを使ってIDを1つにまとめる
SELECT
    COALESCE(R.ID, S.ID) AS ID,
    R.名称1,
    S.名称2
FROM
    R FULL JOIN S ON R.ID = S.ID
ORDER BY R.ID

*  postgresql://padawan:***@db:5432/dsdojo_db
4 rows affected.

[(1, 'AAA', None), (2, 'BBB', 'bbb'), (3, 'CCC', 'ccc'), (4, None, 'ddd')]