In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [8]:
%%sql
drop table if exists shain;
CREATE TABLE shain (
    社員番号 INT PRIMARY KEY,
    社員名 VARCHAR(50) NOT NULL,
    性別 CHAR(1),
    生年月日 DATE
);
INSERT INTO shain (社員番号, 社員名, 性別, 生年月日) VALUES
(1001, '情報一郎', '男', '1978-04-12'),
(1002, '情報一子', '女', '1990-09-25'),
(1003, '情報二郎', '男', '1985-11-03'),
(1004, '情報二子', '女', '2001-07-18'),
(1005, '情報三郎', '男', '1995-02-01');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
5 rows affected.

[]

In [9]:
%%sql
select * from shain;

*  postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[(1001, '情報一郎', '男', datetime.date(1978, 4, 12)),
 (1002, '情報一子', '女', datetime.date(1990, 9, 25)),
 (1003, '情報二郎', '男', datetime.date(1985, 11, 3)),
 (1004, '情報二子', '女', datetime.date(2001, 7, 18)),
 (1005, '情報三郎', '男', datetime.date(1995, 2, 1))]

### Q: 男女それぞれの最年長を除いた社員を出力してください

In [ ]:
%%sql
-- A: min関数により、s1と同じ性別を持つ全社員s2の中で最も早い生年月日を取得したものを検索条件に加える
select 
    * 
from 
    shain as s1
where
    s1.生年月日 > (
        select 
            min(s2.生年月日) 
        from 
            shain as s2 
        where 
            s1.性別 = s2.性別
    );

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(1003, '情報二郎', '男', datetime.date(1985, 11, 3)),
 (1004, '情報二子', '女', datetime.date(2001, 7, 18)),
 (1005, '情報三郎', '男', datetime.date(1995, 2, 1))]