In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [ ]:
%%sql
drop table if exists seiseki;
CREATE TABLE seiseki (
    氏名 VARCHAR(50) NOT NULL,
    クラス CHAR(1) NOT NULL,
    得点 INT NOT NULL
);

INSERT INTO seiseki (氏名, クラス, 得点) VALUES
('情報太郎', 'A', 80),
('情報次郎', 'A', 63),
('情報花子', 'B', 70),
('情報桜子', 'B', 92),
('情報三郎', 'A', 78);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
5 rows affected.

[]

In [4]:
%%sql
SELECT * FROM seiseki;

*  postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('情報太郎', 'A', 80),
 ('情報次郎', 'A', 63),
 ('情報花子', 'B', 70),
 ('情報桜子', 'B', 92),
 ('情報三郎', 'A', 78)]

### Q: 下記の表を作るために必要なSQLは？

| 氏名 | クラス | 得点 | 順位 |
| :--- | :---: | :---: | :---: |
| 情報太郎 | A | 80 | 1 |
| 情報三郎 | A | 78 | 2 |
| 情報次郎 | A | 63 | 3 |
| 情報桜子 | B | 92 | 1 |
| 情報花子 | B | 70 | 2 |

In [ ]:
%%sql
-- A: RANK, PARTITION BYを用いてクラスごとに得点の高い順にランク付け
SELECT
    *,
    RANK() OVER (PARTITION BY クラス ORDER BY 得点 DESC) AS 順位
FROM
    seiseki;

*  postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('情報太郎', 'A', 80, 1),
 ('情報三郎', 'A', 78, 2),
 ('情報次郎', 'A', 63, 3),
 ('情報桜子', 'B', 92, 1),
 ('情報花子', 'B', 70, 2)]